<app-loader *ngIf="loading"></app-loader>  
<mat-card class="example-card" *ngFor="let post of posts">
  <mat-card-header style="margin-bottom:5%">
  <div mat-card-avatar ><img class="img1" src={{post.image}}></div>
    <mat-card-title *ngIf="!post.sharedFrom">{{post.name}} upload a post</mat-card-title>
    <mat-card-title *ngIf="post.sharedFrom">{{post.name}} shared {{post.sharer}}'s post</mat-card-title>
    <mat-card-subtitle >{{post.mail}}<span *ngIf="post.type=='public'"> ({{post.type}})</span></mat-card-subtitle>
    <span style="flex: 1 1 auto;float: right;"></span>
    <button  
    	mat-icon-button [matMenuTriggerFor]="menu"  aria-label="Example icon-button with a menu">
 		 <mat-icon >more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
	  <button mat-menu-item  (click)="del(post._id)">
	    <span>delete Post</span>
	  </button>
	</mat-menu>
  </mat-card-header>
  <img class="img2" *ngIf="post.post.img" mat-card-image src={{post.post.img}} >
  <mat-card-content >
    <h2>{{post.post.caption}}</h2>
    <p >
     {{post.post.desc}}
    </p>
    <p  *ngIf="!post.sharedFrom">
     posted on:{{post.post_date}}, {{post.post_time}}
    </p>
    <p  *ngIf="post.sharedFrom">
     shared on:{{post.post_date}}, {{post.post_time}}
    </p>
    <p>Likes{{post.count}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="post.like==1;else block" mat-button (click)="unlike(post._id,post.mail,post)">UNLIKE</button>
    <ng-template #block><button mat-button (click)="like(post._id,post.mail,post)">LIKE</button></ng-template>
  </mat-card-actions>
</mat-card>