.example-card {
/*  max-width: 400px;
*/  margin: 4em auto;
  text-align: center;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
}


img
 {
  display: inline-block;
  width: 220px;
  height:200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}