/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

img
{
  /*padding: 2%;	*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}

.active
{
  background-color: yellow;
  color: red;
}
