
<mat-card class="log" *ngIf="!reg">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="error">
       {{error}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="username"  appAutofocus required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>  
      <div class="new_user"><span style="text-align: left">If new User?</span><button mat-raised-button color="accent" 
        (click)="reg=!reg">Create New Account</button></div>
    </form>
  </mat-card-content>
</mat-card>
<div class="reg" *ngIf="reg">
 <h2 style="text-align: center">Register Your Account</h2>
  <mat-horizontal-stepper linear #stepper  >
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Fill out your Personal details</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Your Name"  formControlName="name" appAutofocus required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mail Id</mat-label>
          <input matInput type="email" placeholder="Your Mail ID" formControlName="mail" required>
        </mat-form-field>
         <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select matNativeControl formControlName="gender" required>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Others">Others</mat-option>
            </mat-select>
          </mat-form-field>
         <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input  matInput placeholder="mm/dd/yyy" formControlName="dob" required [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext type="submit" >Next</button>
        </div>
      </form>
      <button mat-raised-button color="accent" style="margin-left: 40%" (click)="cancel()">cancel</button>  
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
      <form [formGroup]="secondFormGroup" >
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput placeholder="Ex. 1 Main St"  formControlName="street"
                 required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. chennai" formControlName="city"
                 required>
        </mat-form-field> 
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex.tamilnadu" formControlName="state"
                 required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mobile no:</mat-label>
          <input matInput placeholder="Your mobile no" formControlName="mobile"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext type="submit">Next</button>
        </div>
      </form>
      <button mat-raised-button color="accent" style="margin-left: 40%" (click)="cancel()">cancel</button>  
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" errorMessage="password is required.">
      <form [formGroup]="thirdFormGroup" >
        <ng-template matStepLabel>Set Password</ng-template>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="password should not be less than 6 characters" 
          formControlName="pwd"  required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="confirm password" formControlName="cnf"
                 required>
        </mat-form-field> 
        <div *ngIf="thirdFormGroup.value.pwd==thirdFormGroup.value.cnf&&
        (thirdFormGroup.value.cnf&&thirdFormGroup.value.pwd)">Password matched</div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext type="submit" 
          [disabled]="thirdFormGroup.value.pwd!=thirdFormGroup.value.cnf&&
        (thirdFormGroup.value.cnf&&thirdFormGroup.value.pwd)">Next</button>
        </div>
      </form>
      <button mat-raised-button color="accent" style="margin-left: 40%" (click)="cancel()">cancel</button>  
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div style="text-align:center;">
        <p>You are now done.</p>
        <div>
          <button mat-button (click)="proceed()">click to proceed</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>