 .log{
  margin-top: 2em;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.mat-form-field {
  margin-top: 16px;
}

mat-card .new_user
{
	margin-top: 8px;
	text-align: left;
}

.reg
{
	margin-top: 20px;
    max-width: 800px;
    margin: 1em auto;
}

