.example-full-width {
  width: 50%;

}

.upload
{
	margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
}

img
{
  /*padding: 2%;	*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}