<mat-card class="example-card">
	<mat-card-header>
	    <mat-card-title>Your Profile</mat-card-title>
	</mat-card-header>
  <img mat-card-image src={{image}} alt="{{user.name}}'s Photo">
	    <div class="image-upload">
		    <label for="file-input">
		        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/></svg><span>upload Pic</span><!-- |
		        <button mat-button (click)="remove()">remove Pic</button> -->
		    </label>
		    <input id="file-input" (change)="changeListener($event)" 
		    accept="image/x-png,image/gif,image/jpeg" type="file"/>
		</div>
  <mat-card-content  style="text-align:-webkit-center">
	<form class="example-form" [formGroup]="editform" (ngSubmit)="update()">
	  <mat-form-field class="example-full-width">
	    <mat-label>Name</mat-label>
	    <input matInput formControlName="name" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
	  </mat-form-field>
	    <mat-form-field class="example-full-width">
        <mat-label>Gender</mat-label>
	        <select matNativeControl formControlName="gender" required>
	          <option value="Male">Male</option>
	          <option value="Female">Female</option>
	          <option value="Others">Others</option>
	        </select>
        	<mat-icon matSuffix>mode_edit</mat-icon>
       </mat-form-field>
	    <mat-form-field class="example-full-width">
	    <mat-label>Date of Birth</mat-label>
	    <input matInput  formControlName="dob" required>
  	    <mat-icon matSuffix>mode_edit</mat-icon>
	  </mat-form-field>
	    <mat-form-field class="example-full-width">
	    <mat-label>phone</mat-label>
	    <input matInput  formControlName="mobile" required>
	   	<mat-icon matSuffix>mode_edit</mat-icon>
	  </mat-form-field>
	    <mat-form-field class="example-full-width">
	    <mat-label>street</mat-label>
	    <input matInput  formControlName="street" required>
	   	<mat-icon matSuffix>mode_edit</mat-icon>
	  </mat-form-field>
	    <mat-form-field class="example-full-width">
	    <mat-label>city</mat-label>
	    <input matInput   formControlName="city" required>
	   	<mat-icon matSuffix>mode_edit</mat-icon>
	  </mat-form-field>
	    <mat-form-field class="example-full-width">
	    <mat-label>state</mat-label>
	    <input matInput  formControlName="state" required>
	   	<mat-icon matSuffix>mode_edit</mat-icon>
	  </mat-form-field>
	  <button mat-button type="submit">update profile</button>
	</form>
  </mat-card-content>
</mat-card>