.example-card {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2%;
}


.ng-star-inserted
{
  margin-bottom: 3%;
}

.upload
{
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
}



.img2 
{
  display: inline-block;
   max-width:100%;
  height:auto;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img1
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}